#cta-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

.cta-headline {
    font-size: 30px;
}

.cta-text {
    text-align: center;
}

#cta-buttons {
    display: flex;
    flex-direction: row;
    gap: 35px;

    button {
        padding: var(--button-padding);
    }
}