
#experiences {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .experience {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 32px;
        align-items: flex-start;

        .job-detail {
            display: flex;
            flex-direction: column;
            justify-items: flex-start;
        }

        .job-achievements {
            display: flex;
            flex-direction: column;
            justify-items: flex-start;
        }
    }
}