#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
}

#socials {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30%;
    padding: 20px 0;
}

#footer > #socials > a {
    width: auto;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    color: inherit;
}

#copyright-text {
    text-wrap: wrap;
    text-align: center;
    padding: 20px 0;
}

