#hero {
    width: 90vw;
    display: flex;
    flex-direction: column;
    padding: 48px 0;
}

.designer-yellow__mask::before {
    content: '';
    background-image: url('../assets/designs/yellow-button.svg');
    position: absolute;
    height: 4rem;
}

.designer-blue__mask::before {
    content: '';
    background-image: url('../assets/designs/blue-button.svg');
    position: absolute;
    height: 4rem;
}

.product-red__mask::before {
    content: '';
    background-image: url('../assets/designs/red-button.svg');
    position: absolute;
    width: 4rem;
}

#product-frame {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;  
    justify-items: flex-start;  
    gap: 1rem;

    .products-text {
        font-size: 4rem;
        font-family: 'Berlin Sans';
    }

    .heritages-icon {
        height: 60px;
    }
}

#designer-frame {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: flex-end;

    .designers-text {
        font-size: 4rem;
        font-family: 'Berlin Sans';
    }

    .otw-vector {
        width: 10%;
        min-width: 10em;
    }
}

#hero-caption {
    width: 100%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 48px 0;
    

    .hero-text {
        max-width:100%;
        text-wrap: wrap;
        font-size: var(--subheadline-text-tab);
        line-height: 18px;
    }

    hero-text-span {
        font-family: IBM Plex Mono;
        font-size: var(--subheadline-text);
    }

    .hero-cta {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .cta {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 16px;
        }

        p {
            color: var(--primary-color);
            font-size: var(--hero-cta-text-tab);
        }

        button {
            padding: var(--button-padding);
            font-size: var(--hero-cta-text-tab);
        }
    }
}

.nav-link {
    align-self: flex-end;
}

#nav-mouse {
    width: 30px;
    z-index: 99 !important;
    cursor: pointer;
    right: 0.5em;
    bottom: 0.5em;
    align-self: flex-end;
}

@media screen and (min-width: 835px) {
    #hero {
        padding: 48px 0;
    }

    .designer-yellow__mask::before {
        background-size: 6vw;
        background-repeat: no-repeat;
        background-position: center;
        width: 6vw;
        height: 9vw;
    }
    
    .designer-blue__mask::before {
        background-size: 6vw;
        background-repeat: no-repeat;
        background-position: center;
        width: 6vw;
        height: 9vw;
    }
    
    .product-red__mask::before {
        background-size: 6vw;
        background-repeat: no-repeat;
        background-position: center;
        width: 6vw;
        height: 9vw;
    }

    #product-frame {
        width: 100%;
        align-self: flex-start;
        display: flex;
        flex-direction: row;
        align-items: center;
        
        .products-text {
            font-size: 9vw;
            line-height: 9vw;
        }

        .heritages-icon {
            height: 10vw;
            max-height: 90px;
        }
    }
    
    #designer-frame {
        width: 100%;
        align-self: flex-end;
        display: flex;
        flex-direction: column;
    
        .designers-text {
            font-size: 9vw;
            line-height: 9vw;
        }
    
        .otw-vector {
            width: 10%;
            align-self: flex-end;
        }
    }
    
    #hero-caption {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        gap: 12px;
        margin: 0;
    
        .hero-text {
            max-width: 50%;
            text-wrap: wrap;
            font-size: var(--subheadline-text);
        }
    
        .hero-cta {
            display: flex;
            flex-direction: row;
            align-items: center;
    
            p {
                color: var(--primary-color);
                font-size: 20px;
            }
    
            button {
                padding: var(--button-padding);
            }
        }
    }
}





