#hero {
    /* margin-top: 70px; */
    display: flex;
    flex-direction: column;
    mask-image: none !important;
}

#product-frame {
    width: 100%;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;    
    flex: 1;


    .product-vector {
        width: 50%;
        height: fit-content;
        flex-shrink: 1;
        margin-right: 50px;
    }

    .heritages-icon {
        height: 60px;
    }
}

#designer-frame {
    width: 100%;
    align-self: flex-end;
    display: flex;
    flex-direction: column;

    .designer-vector {
        width: 58.5%;
        height: fit-content;
        align-self: flex-end;
        flex-shrink: 1;
    }

    .otw-vector {
        width: 10%;
        align-self: flex-end;
        margin-right: 30px;
    }
}

#hero-caption {
    width: 90%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .hero-text {
        max-width:50%;
        text-wrap: wrap;
    }

    .hero-cta {
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;

        p {
            color: var(--primary-color);
        }

        button {
            padding: 12px;
        }
    }
}

.nav-link {
    align-self: flex-end;
}

#nav-mouse {
    width: 30px;
    cursor: pointer;
}





