#landing-background {
    min-width: 320px;
    width: 100%;
    min-height: 100vh;
    background-image: url('../assets/designs/landing-background.png');
    mask-image: linear-gradient(to bottom, black 95%, transparent);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
} 