#testimonials {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 48px 0;
    width: 90vw;
    align-items: center;
}

.testimonial-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    .visible-card1 {
        transform: rotate(-10deg);
    }
    .visible-card2 {
        display: none;
        transform: rotate(10deg);
    }
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    gap: 20px;
    width: 25%;
    height: 100%;
    min-width: 300px;
    border: 2px solid var(--img-background);
    border-radius: 5px;
    background-color: var(--card-background);
    box-shadow: var(--box-shadow);
    padding: 20px;

    .quote {
        font-size: 60px;
        margin-bottom: -20px;
    }
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: small;
    margin: 0;

    .title {
        font-weight: 300;
    }
}

.testimonial-slider {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.slider-controls {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.slider-controls > button {
    background: none;
    border: none;
}

@media screen and (min-width: 768px) {
    .testimonial-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        .visible-card1 {
            display: inline;
            transform: rotate(-10deg);
        }
        .visible-card2 {
            display: inline;
            transform: rotate(10deg);
        }
    }
}

