#work {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    padding: 20px 0;
}

.section-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-header-text {
    align-self: center;
}

.section-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.works {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
}

.work-card {
    width: 45%;
    height: 400px;
    /* background-color: #787878; */
    min-width: 375px;
    border: 2px solid var(--img-background);
    border-radius: 5px;
    background-color: var(--card-background);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    padding: 3px;

    .image-demo {
        display: block;
        height: 275px;
        width: 100%;
        background-color: var(--img-background);
        border-radius: 2px;
    }

    .work-info {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: flex-start;
        justify-content: space-between;
    }

    .industry-label {
        display: block;
        position: absolute;
        z-index: 99 !important;
        margin: 20px;
        color: white;
        background-color: var(--label-background);
        border-radius: 2px;
        cursor: none;
    }
}