@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* Berlin signature for "Logo" 
   Berlin Sans for Large Header
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', monospace;


  --font-normal: 400;
  --font-bold: 700;

  --headline-text: 40px;
  --quote-size: 100px;
  --header-text: 25px;
  --paragraph-text: 16px;
  --scroll-text: 20px;

  --font-color: #F2F2F2;
  --primary-color: rgba(242, 242, 242, 0.7);
  --secondary-color: rgba(242, 242, 242, 0.1);

  /*Color Extracts*/
  --card-background: rgba(242, 242, 242, 0.05);
  --border: 2px solid rgba(242, 242, 242, 0.1);
  --box-shadow: 0px 14px 35px rgba(0, 0, 0, 0.15);
  --label-background: rgba(242, 242, 242, 0.1);
  --color: #F2F2F2;
  --img-background: #3D3D3D;
  --color: #FFFFFF;
  --gradient-background: linear-gradient(180deg, #902115 0%, #ED2811 59.5%);
  --white-background: #FFFFFF;

  --button-padding: 8px 16px;
  --body-copy: 16px;
  --header-copy: 30px;
  --small-copy: 11px;
}

hero-headline {
  font-family: berlinsans;
font-size: 120px;
font-weight: 400;
line-height: 213.84px;
letter-spacing: -0.04em;
text-align: left;

}

hero-detail {
  font-family: Lexend;
font-size: 24px;
font-weight: 400;
line-height: 30px;
text-align: justified;

}

hero-detail-span {
  font-family: IBM Plex Mono;
font-size: 24px;
font-style: italic;
font-weight: 500;
line-height: 30px;
text-align: justified;

}

section-header & copyright {
  font-family: Lexend;
  font-size: 30px;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  color: #F2F2F2;
  box-shadow: 0px -5px 25px 0px #FFFFFF1A;

box-shadow: 0px -5px 10px 0px #FF5A001A;

box-shadow: 0px 5px 10px 0px #0057FF26;

}

project-header {
  font-family: Lexend;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  text-align: left;
}

project-detail {
  font-family: Lexend;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
}

cta-headline {
  font-family: Lexend;
font-size: 60px;
font-weight: 400;
line-height: 75px;
text-align: left;
}

cta-detail & socials {
  font-family: IBM Plex Mono;
font-size: 24px;
font-style: italic;
font-weight: 500;
line-height: 30px;
text-align: center;
}



.ibm-plex-mono-medium-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: italic;
}

#root {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  padding: 20px 0;
  background-image: url('./assets/designs/landing-background.png');
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}

.pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

button {
  height: 40px;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  gap: 5px;
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--font-color);
  border-radius: 3px;
  font-size: 11px; 
}

.section {
  min-width: 320px;
  width: 90%;
  padding: 0 10px;
}

.header-div {
  width: 40px;
  background: #f2f2f2;
}

#services-scroll {
  width: 100%;
  background: transparent;
  color: var(--font-color);
  text-align: center;
  margin: 50px 0px;
  font-size: var(--scroll-text);
  animation: scrolling 20s infinite linear;
  
  p {
    text-wrap: nowrap;
  }

  .scroll-dot {
    color: green;
    margin: auto 30px;
  }
}

@keyframes scrolling {
  0% {
    margin-left: 200vw;
  }
  100% {
    margin-left: -500vw;
  }
}

.section-header-text {
  align-self: center;
  font-size: var(--header-text);
}

@media screen and (min-width: 768px) {
  .section {
    max-width: 1440px;
    width: 90%;
  }
  @keyframes scrolling {
    0% {
      margin-left: 200vw;
    }
    100% {
      margin-left: -300vw;
    }
  }
}
