@font-face {
  font-family: Berlin Sans;
  src: url('./fonts/berlinsans.ttf');
} 
@font-face {
  font-family: IBMPlexMono;
  src: url('./fonts/IBMPlexMono-MediumItalic.ttf');
}
@font-face {
  font-family: Berlin Signature;
  src: url('./fonts/berlinsignature.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background-color: hsl(0, 0%, 0%);
  color: #F0F0F0;
}